<mat-toolbar color="primary" ngClass="mat-elevation-z6">
  <mat-toolbar-row>
    <div *ngIf="showMenu" class="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let nav of navLinks"
                routerLink="{{nav.path}}">
          {{nav.label}}
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a routerLink="/">Sheridan Exam Cram Builder</a>

    <div class="right" *ngIf="show &&!logined">
      <button mat-button [matMenuTriggerFor]="loginMenu">Login</button>
      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item routerLink="/login/student">
          <span>Student Login</span>
        </button>
        <button mat-menu-item routerLink="/login/staff">
          <span>Staff Login</span>
        </button>
      </mat-menu>
    </div>

    <div class="right" *ngIf="show && logined && !student">
      <div class="name"><span>Hi, {{name}}</span></div>
      <button mat-icon-button [matMenuTriggerFor]="staffMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #staffMenu="matMenu">
        <button mat-menu-item routerLink="/">
          <span>Homepage</span>
        </button>
        <button mat-menu-item routerLink="/staff">
          <span>Staff Home</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/staff/settings/updateInfo">
          <span>Update Personal Info</span>
        </button>
        <button mat-menu-item routerLink="/staff/settings/changePassword">
          <span>Change Password</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <div class="right" *ngIf="show && logined && student">
      <button mat-icon-button [matMenuTriggerFor]="studentMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #studentMenu="matMenu">
        <button mat-menu-item routerLink="/">
          <span>Homepage</span>
        </button>
        <button mat-menu-item routerLink="/student">
          <span>Select Question</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
