a {
  text-decoration: none;

  color: white;
}

.right {
  width: 100%;

  text-align: right;
}

.menu {
  display: none;
}

.name {
  font-size: 80%;
  line-height: 40px;

  display: inline-block;

  height: 40px;
}

@media only screen and (max-width: 1279px) {
  .menu {
    display: block;
  }
}
