@import '~@angular/material/theming';
@import '~src/theme.scss';

.ribbon {
  width: 100%;
  height: 30vh;

  background-color: mat-color($primary);
  box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, .2),
  inset 0 6px 10px 0 rgba(0, 0, 0, .14),
  inset 0 1px 18px 0 rgba(0, 0, 0, .12),
  0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}
