<mat-card
  *ngIf="showForm && !success; else errorTemp"
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()">

  <mat-card-content>
    <div class="title"><h1>Register</h1></div>

    <mat-error>{{error}}</mat-error>

    <form [formGroup]="registerForm">
      <table>
        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput appAutofocus placeholder="Username" formControlName="username" />
              <mat-error
                *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
                Username is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password" />
              <mat-error
                *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                Password is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput placeholder="Re-enter Password" type="password" formControlName="rePassword" />
              <mat-error
                *ngIf="!registerForm.controls['rePassword'].valid && registerForm.controls['rePassword'].touched">
                Two Passwords Not Match
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput appFirstUpper placeholder="First Name" formControlName="firstName" />
              <mat-error
                *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched">
                First Name is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput appFirstUpper placeholder="Last Name" formControlName="lastName" />
              <mat-error
                *ngIf="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">Email: {{email}}</td>
        </tr>

        <tr>
          <td class="half">
            <mat-form-field>
              <input matInput placeholder="Verify Code" type="text" formControlName="vCode" />
              <mat-error *ngIf="!registerForm.controls['vCode'].valid && registerForm.controls['vCode'].touched">
                Verify Code is required
              </mat-error>
            </mat-form-field>
          </td>
          <td class="right">
            <button mat-button type="button" class="send" [disabled]="!btnSend" (click)="get()">{{btnSendText}}</button>
          </td>
        </tr>

        <tr class="infoRow">
          <td colspan="2" *ngIf="checkEmail">
            Please check your email
          <td>
        </tr>

        <tr>
          <td colspan="2">
            <button mat-raised-button color="primary" class="register" [disabled]="!registerForm.valid"
                    (click)="register(registerForm.value)">Register
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="success">
  <mat-card-content>
    <div class="title"><h1>Successfully Registered</h1></div>
    Redirect to login page in {{redirectCount}}s, or <a routerLink="/login/staff">click here</a>
  </mat-card-content>
</mat-card>

<ng-template #errorTemp>
  <mat-card>
    <mat-card-content>
      {{error}}, go <a routerLink="/">Home</a>.
    </mat-card-content>
  </mat-card>
</ng-template>
