table {
  width: 100%;
  text-align: left;
  padding-left: 10%;
  padding-right: -10%;
}

td, tr {
  width: 100%;
}

mat-form-field {
  width: 90%;
}

.send {
  width: 140px;
}

.right {
  text-align: right;
  padding-right: 10%;
}

.register {
  width: 90%;
  margin-right: 10%;
}

.half {
  width: 50%;
  max-width: 50%;
  overflow-x: hidden;
}

.infoRow {
  height: 15px;
}
