<mat-card
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()">
  <mat-card-content>
    <div class="title"><h1>Check in</h1></div>

    <mat-error *ngIf="error">{{error}}</mat-error>

    <form [formGroup]="studentForm" (submit)="execute(captchaRef)">
      <table>
        <tr>
          <td>
            <mat-form-field class="right">
              <input matInput appFirstUpper appAutofocus placeholder="First Name" formControlName="fName"/>
              <mat-error *ngIf="!studentForm.controls['fName'].valid && studentForm.controls['fName'].touched">
                First Name is required
              </mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="left">
              <input matInput appFirstUpper placeholder="Last Name" formControlName="lName"/>
              <mat-error *ngIf="!studentForm.controls['lName'].valid && studentForm.controls['lName'].touched">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput appNumOnly placeholder="Student Number" formControlName="stuNum"/>
              <mat-error *ngIf="!studentForm.controls['stuNum'].valid && studentForm.controls['stuNum'].touched">
                9-digit Student Number is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput placeholder="Access Code" formControlName="code" #input
                     [value]="input.value.toUpperCase()"/>
              <mat-error *ngIf="!studentForm.controls['code'].valid && studentForm.controls['code'].touched">
                Access Code is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field>
              <mat-select placeholder="Campus" formControlName="campus">
                <mat-option *ngFor="let c of campuses" [value]="c">{{c}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!studentForm.controls['campus'].valid && studentForm.controls['campus'].touched">
                Campus is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <re-captcha #captchaRef="reCaptcha"
                        formControlName="recaptcha"
                        size="invisible"
                        (resolved)="checkin(captchaRef, studentForm.value)"></re-captcha>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <button mat-raised-button color="primary" class="submit">CHECK IN</button>
          </td>
        </tr>
      </table>
    </form>

  </mat-card-content>
</mat-card>
