<table style="width: 100%;">
  <tr>
    <td>
      <h2 mat-dialog-title style="margin-bottom:0;">UPDATE QUESTION</h2>
    </td>
    <td>
      <button mat-button mat-dialog-close style="float: right;"><i class="material-icons" >close</i></button>
    </td>
  </tr>
</table>


<mat-dialog-content class="mat-typography">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="courseFormGroup" class="mat-vertical-stepper-header">
      <ng-template matStepLabel>Select your Course</ng-template>
      <form [formGroup]="courseFormGroup" *ngIf="courses">
        <mat-form-field class="formFieldWidth">
          <mat-select placeholder="Course" formControlName="course">
            <mat-option *ngFor="let c of courses.content" [value]="c.id">{{c.course}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div>
        <button mat-raised-button color="primary" matStepperNext (click)="selectCourse(courseFormGroup.value)">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Almost Done</ng-template>
      <!--<form [formGroup]="tagFormGroup" *ngIf="tags && tags.content[0].content && courses && courses.content[0].content;else tagError">-->
      <!--<mat-checkbox *ngFor="let t of tags.content" value="t.id" formControlName="tag" (change)="tagSelectChange($event, t)">{{t.tag}}</mat-checkbox>-->
      <form [formGroup]="tagFormGroup" *ngIf="isTagExist;else tagError">
        <mat-label>Selected Tags</mat-label>
        <mat-error *ngIf="!isTagSelected">Please Select Tags</mat-error>
        <div class="tagPool">
          <mat-chip-list [disabled]="true" *ngIf="selectedTags">
            <mat-chip [disabled]="true" *ngFor="let t of selectedTags" (removed)="remove(t)">
              {{ t.tag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-error *ngIf="error">Please select at least one tag</mat-error>

        <mat-label>Select Tag Below</mat-label>
        <div class="tagPool" *ngIf="tags">
          <mat-chip-list [disabled]="true" *ngIf="tags.length > 0">
            <mat-chip class="selectable" [disabled]="true" *ngFor="let t of tags" (click)="add(t)">{{ t.tag }}
            </mat-chip>
          </mat-chip-list>
        </div>


        <br />
        <table style="width:100%;">
          <tr>
            <td style="width:10%;"><mat-label>Practical</mat-label></td>
            <td><mat-slider thumbLabel [displayWith]="formatLabel" min="0" max="3" step="1" formControlName="difficulty" style="width: 100%;"></mat-slider></td>
            <td style="width:10%;"><mat-label>Challenge</mat-label></td>
          </tr>
        </table>
        <mat-error *ngIf="!isDifficultySelected">Please Select the Difficulty</mat-error>

        <br />

        <mat-form-field class="formFieldWidth">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-error *ngIf="!isDescritpionEdited">Please Provide the Description</mat-error>

        <br/>


        <button mat-raised-button (click)="fileInput.click()" style="width:100%;">UPLOAD IMAGE</button>
        <input hidden type="file" #fileInput (change)="onSelectFile($event)">
        <br/>
        <div *ngIf="imageUrl != ''">
          <img [src]="imageUrl" style="height: auto; width: auto; max-height: 100%;max-width: 100%;">
          <button mat-raised-button color="warn" (click)="removeImage()" style="width:100%;">REMOVE IMAGE</button>
        </div>
        <br/>
        <div>
          <table width="100%">
            <tr>
              <td>
                <button mat-button matStepperPrevious style="width:100%;">Back</button>
              </td>
              <td>
                <button type="submit" mat-raised-button color="primary" style="width:100%" (click)="updateQuestion()">Update</button>
              </td>
            </tr>
          </table>
        </div>

      </form>

      <ng-template #tagError>
        <mat-error>No Tags Found in this Course</mat-error>
        <button mat-button matStepperPrevious>Back</button>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
