.tagPool {
  min-height: 100px;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px auto 20px;
  padding: 5px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
}

.selectable {
  cursor: pointer;
}


.formFieldWidth{
  width:100%;
}
