<mat-accordion>
  <mat-expansion-panel (opened)="listPrograms()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Programs
      </mat-panel-title>
    </mat-expansion-panel-header>


    <mat-accordion [multi]="false">
      <div *ngIf="programs">
        <!--Program List-->
        <mat-expansion-panel *ngFor="let p of programs.content" (opened)="selectProgram(p.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{p.program}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Edit Program-->
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: royalblue">
              <mat-panel-title style="color: white;">
                Edit Program
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br/>
            <mat-form-field>
              <input matInput type="text" id="program{{p.id}}" [value]="p.program" placeholder="Program Name">
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="updateProgram(p.id)">UPDATE</button> &nbsp; &nbsp;
            <button mat-raised-button color="warn" (click)="deleteProgram(p.id)">DELETE</button>
          </mat-expansion-panel>


          <mat-accordion [multi]="false">
            <div *ngIf="isCourseExist">
              <mat-expansion-panel *ngFor="let c of courses.content" (opened)="selectCourse(c.id)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{c.course}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-expansion-panel>
                  <mat-expansion-panel-header style="background-color: royalblue">
                    <mat-panel-title style="color:white;">
                      Edit Course
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <br/>
                  <mat-form-field>
                    <input matInput type="text" id="courseEdit{{c.id}}" [value]="c.course" placeholder="Course Name">
                  </mat-form-field>
                  <br/>
                  <button mat-raised-button color="primary" (click)="updateCourse(c.id)">UPDATE</button> &nbsp; &nbsp;
                  <button mat-raised-button color="warn" (click)="deleteCourse(c.id)">DELETE</button>
                </mat-expansion-panel>

                <div *ngIf="isTagExist">
                  <mat-expansion-panel *ngFor="let t of tags.content">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{t.tag}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br/>
                    <mat-form-field>
                      <input matInput type="text" id="updateTag{{t.id}}" [value]="t.tag" placeholder="Tag Name">
                    </mat-form-field>
                    <br/>
                    <button mat-raised-button color="primary" (click)="updateTag(t.id)">UPDATE</button> &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="deleteTag(t.id)">DELETE</button>
                  </mat-expansion-panel>
                </div>

                <mat-expansion-panel>
                  <mat-expansion-panel-header style="background-color: royalblue">
                    <mat-panel-title style="color:white;">
                      Add New Tag
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <br/>
                  <mat-form-field>
                    <input matInput type="text" placeholder="New Tag Name" id="newTag{{c.id}}">
                  </mat-form-field>
                  <br/>
                  <button mat-raised-button color="primary" (click)="addNewTag(c.id)">ADD</button>
                </mat-expansion-panel>
              </mat-expansion-panel>
            </div>

            <mat-expansion-panel>
              <mat-expansion-panel-header style="background-color: royalblue">
                <mat-panel-title style="color: white;">
                  Add New Course
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br/>
              <mat-form-field>
                <input matInput type="text" placeholder="New Course Name" id="newCourse{{p.id}}">
              </mat-form-field>
              <br/>
              <button color="primary" mat-raised-button (click)="addNewCourse(p.id)">ADD</button>
            </mat-expansion-panel>

          </mat-accordion>
        </mat-expansion-panel>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: royalblue">
          <mat-panel-title style="color: white;">
            Add New Program
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br/>
        <mat-form-field>
          <input matInput type="text" placeholder="New Program Name" id="newProgram">
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" (click)="addNewProgram()">ADD</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>



</mat-accordion>

<!--<br/>-->
<!--<br/>-->
<!--<button mat-button class="mat-raised-button" (click)="addTag()">Add New Tag Test</button>-->
