@import '~@angular/material/theming';
@import '~src/theme.scss';

footer {
  position: relative;
  z-index: -1;

  overflow: auto;

  height: 80px;
  padding: 20px 30px;

  color: #fff;
  background-color: mat-color($primary);
  box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, .2),
  0 -6px 10px 0 rgba(0, 0, 0, .14),
  0 -1px 18px 0 rgba(0, 0, 0, .12);
}

a {
  text-decoration: none;

  color: white;
}

a:hover {
  text-decoration: underline;
}

.left {
  position: absolute;
  top: 50%;

  display: inline-block;

  transform: translateY(-50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 30px;

  display: inline-block;

  transform: translateY(-50%);
  text-align: center;
}
