<footer>
  <div class="left">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>

    <span>&#169; Copyright Tinkers 2018</span>
  </div>
  <div class="right">
    Powered by
    <a href="https://angular.io/">Angular</a>
    &
    <a href="https://spring.io/projects/spring-boot">Spring Boot</a>
    <br/>
    Licensed Under
    <a href="https://bitbucket.org/seivel/sheridan-learn-assistance-system/src/master/LICENSE">The MIT License</a>
    <br/>
    Source Code Repository
    <a href="https://bitbucket.org/seivel/sheridan-learn-assistance-system/src">Here</a>
  </div>
</footer>
