mat-card {
  display: block;

  width: 450px;
  min-width: 200px;
  margin: -10vh auto 10vh;
}

mat-form-field {
  margin-bottom: 10px;
}

.title {
  width: 100%;
  padding: 20px 0;

  text-align: center;
}

.tagPool {
  overflow-x: hidden;
  overflow-y: scroll;

  min-height: 100px;
  max-height: 100px;
  margin: 10px auto 20px;
  padding: 5px;

  border: 1px solid #bdbdbd;
  border-radius: 2px;
}

.selectable {
  cursor: pointer;
}
