<mat-card>
  <mat-card-content>

    <div class="title"><h1>Choose Specifications</h1></div>

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="programForm">
        <ng-template matStepLabel>Select Your Program</ng-template>
        <form [formGroup]="programForm" *ngIf="programs">
          <mat-form-field>
            <mat-select placeholder="Program" formControlName="program">
              <mat-option *ngFor="let p of programs.content" [value]="p.id">{{ p.program }}</mat-option>
            </mat-select>
            <mat-error *ngIf="!programForm.controls['program'].valid">
              Program is required
            </mat-error>
          </mat-form-field>

          <br />

          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="selectProgram(programForm.value)">
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="courseForm">
        <ng-template matStepLabel>Select Your Course</ng-template>
        <form [formGroup]="courseForm" *ngIf="courses">
          <mat-form-field>
            <mat-select placeholder="Course" formControlName="course">
              <mat-option *ngFor="let c of courses.content" [value]="c.id">{{ c.course }}</mat-option>
            </mat-select>
            <mat-error *ngIf="!courseForm.controls['course'].valid">
              Course is required
            </mat-error>
          </mat-form-field>

          <br />

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext (click)="selectCourse(courseForm.value)">
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Select Tags</ng-template>
        <div *ngIf="isTagExist;else tagError">
          <mat-label>Selected Tags</mat-label>
          <div class="tagPool">
            <mat-chip-list [disabled]="true" *ngIf="selectedTags">
              <mat-chip [disabled]="true" *ngFor="let t of selectedTags" (removed)="remove(t)">
                {{ t.tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <mat-error *ngIf="error">Please select at least one tag</mat-error>

          <mat-label>Select Tag Below</mat-label>
          <div class="tagPool" *ngIf="tags">
            <mat-chip-list [disabled]="true" *ngIf="tags.length > 0">
              <mat-chip class="selectable" [disabled]="true" *ngFor="let t of tags" (click)="add(t)">{{ t.tag }}
              </mat-chip>
            </mat-chip-list>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="selectTag(stepper)">Next</button>
          </div>
        </div>

        <ng-template #tagError>
          <mat-error>No Tags Found in this Course</mat-error>
          <button mat-button matStepperPrevious>Back</button>
        </ng-template>

      </mat-step>



      <mat-step>
        <ng-template matStepLabel>Last Step</ng-template>
        <div>How hard do you want the questions to be?</div>
        <mat-label>Practical</mat-label>
        <mat-slider [(value)]="difficulty"></mat-slider>
        <mat-label>Challenge</mat-label>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="generate()">Generate Questions</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
