@import '~@angular/material/theming';
@import '~src/theme.scss';

.ribbon {
  width: 100%;
  height: 30vh;

  background-color: mat-color($primary);
  box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, .2),
  inset 0 6px 10px 0 rgba(0, 0, 0, .14),
  inset 0 1px 18px 0 rgba(0, 0, 0, .12),
  0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);

  flex-shrink: 0;
}

.title {
  height: 20vh;
  margin: -25vh auto 0;

  text-align: center;

  color: #fff;
}

.content {
  min-height: 70vh;
  margin: 20px 5vw 20px;
}

a {
  text-decoration: none;

  color: mat-color(map-get($theme, foreground), text);
}

mat-card-content {
  text-align: center;
}
