<app-header></app-header>

<div class="ribbon"></div>

<div class="title">
  <h1>Sheridan Exam Cram</h1>
  <button mat-raised-button color="accent" routerLink="/student" *ngIf="!logined || student">Student Entry</button>
</div>

<div class="content">
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile colspan="2" *ngIf="startTime">
      <div *ngIf="open">
        <h3>Exam Cram Open Until</h3>
        <h3>{{endTime | date:'MM/dd/yyyy h:mm:ss a'}}</h3>
      </div>
      <div *ngIf="!open">
        <h3>Next Exam Cram Open at</h3>
        <h3>{{startTime | date:'MM/dd/yyyy h:mm:ss a'}}</h3>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <img src="assets/img/ExamImage.jpg"
           alt="Image" style="width:auto; height: auto;max-height: 100%;max-width: 100%;"/>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card-content>
        <h3>Sheridan Tutoring Service</h3>
        <button mat-button>
          <a href="https://sheridan.mywconline.com/" target="_blank">
            <b>Book an Appointment</b></a>
        </button>
        <br/>
        <button mat-button>
          <a href="https://www.sheridancollege.ca/life-at-sheridan/student-services/tutoring" target="_blank"><b>
            Learn More</b>
          </a>
        </button>
      </mat-card-content>
    </mat-grid-tile>
    <!--<mat-grid-tile rowspan="2">-->
      <!--<mat-card-content>-->
        <!--<h3>Sheridan Library Service</h3>-->
        <!--<button mat-button>-->
          <!--<a href="https://www.sheridancollege.ca/life-at-sheridan/student-services/library-services" target="_blank">-->
            <!--Learn More-->
          <!--</a>-->
        <!--</button>-->
      <!--</mat-card-content>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile rowspan="2">-->
      <!--<img src="https://www.unavco.org/lib/images/wireframe-image.png"-->
           <!--alt="Image" height="300px" width="500px"/>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile colspan="2">-->
      <!--<button mat-raised-button color="accent" routerLink="/student" *ngIf="!logined || student">Student Entry</button>-->
    <!--</mat-grid-tile>-->
  </mat-grid-list>
</div>

<app-footer></app-footer>
