<h2 mat-dialog-title>Disable Questions</h2>
<mat-dialog-content class="mat-typography">
  <p>Disable All Selected Questions?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="disableSelectedQuestions()">YES</button>
  <button mat-button [mat-dialog-close]="true">NO</button>
</mat-dialog-actions>
