mat-card {
  width: 55%;
}

table {
  width: 100%;
  text-align: left;
  padding-left: 10%;
  padding-right: -10%;
}

mat-form-field {
  width: 90%;
}

button {
  width: 140px;
}

.right {
  text-align: right;
  padding-right: 10%;
}

.center {
  text-align: center;
}

.half {
  max-width: 50%;
  overflow-x: hidden;
}

.infoRow {
  height: 15px;
}
