<mat-card
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()">
  <mat-card-content>
    <div class="title"><h1>Forgot Password</h1></div>

    <mat-error *ngIf="error">{{error}}</mat-error>

    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="verifyForm">
        <ng-template matStepLabel>Verify Account</ng-template>
        <form [formGroup]="verifyForm">
          <mat-form-field>
            <input matInput appAutofocus placeholder="Enter Email" type="email" formControlName="email"/>
            <mat-error *ngIf="!verifyForm.controls['email'].valid && verifyForm.controls['email'].touched">
              Email is required
            </mat-error>
          </mat-form-field>

          <br/>

          <div>
            <button mat-raised-button color="primary" [disabled]="!verifyForm.valid"
                    (click)="verify(verifyForm.value, stepper)">Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resetForm">
        <ng-template matStepLabel>Reset Password</ng-template>
        <form [formGroup]="resetForm" *ngIf="email">
          <table>
            <tr>
              <td colspan="2">
                <mat-form-field>
                  <input matInput appAutofocus placeholder="New Password" type="password" formControlName="password"/>
                  <mat-error *ngIf="!resetForm.controls['password'].valid && resetForm.controls['password'].touched">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <mat-form-field>
                  <input matInput placeholder="Re-enter Password" type="password" formControlName="rePassword"/>
                  <mat-error
                    *ngIf="!resetForm.controls['rePassword'].valid && resetForm.controls['rePassword'].touched">
                    Two Passwords Not Match
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td class="half">Email: {{email}}</td>
              <td class="right">
                <button mat-button type="button" (click)="change(stepper)">Change Email</button>
              </td>
            </tr>

            <tr>
              <td class="half">
                <mat-form-field>
                  <input matInput placeholder="Verify Code" type="text" formControlName="vCode"/>
                  <mat-error *ngIf="!resetForm.controls['vCode'].valid && resetForm.controls['vCode'].touched">
                    Verify Code is required
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="right">
                <button mat-button type="button" [disabled]="!btnSend" (click)="get()">{{btnSendText}}</button>
              </td>
            </tr>

            <tr class="infoRow">
              <td colspan="2" *ngIf="checkEmail">
                Please check your email
              </td>
            </tr>

            <tr>
              <td colspan="2" class="center">
                <button mat-raised-button color="primary" [disabled]="!resetForm.valid"
                        (click)="reset(resetForm.value, stepper)">Next
                </button>
              </td>
            </tr>
          </table>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Reset Success</ng-template>
        Redirect to login page in {{redirectCount}}s, or <a routerLink="/login/staff">click here</a>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
