@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.mat-vertical-stepper-header {
  pointer-events: none !important;
}
