mat-card {
  display: block;

  width: 70vw;
  min-width: 200px;
  margin: -10vh auto 10vh;
}

.title {
  width: 100%;
  padding: 0 0 20px;

  text-align: center;
}

.report {
  text-align: right;
}

mat-divider {
  margin: 6px auto;
  position: static!important;
}

.draggable {
  //height: 50px;
  //width: 100px;
  position: sticky;
  cursor: move;
}

.container {
  width:100%;
  height: 100%;
}
