<mat-card>
  <ng-container *ngTemplateOutlet="action"></ng-container>
  <ng-template #action>
    <mat-card-actions>
      <e-ngx-print #print_component
                   [showBtn]="false"
                   [popTitle]="printTitle"
                   [printStyle]="printStyle"
                   [printHTML]="print_content">
      </e-ngx-print>
      <button mat-raised-button color="primary" matTooltip="Print question sheet"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="200"
              (click)="print()">Print
      </button>
      <button mat-button matTooltip="Generate a new question sheet"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="200"
              (click)="back()">Regenerate
      </button>
      <a mat-button matTooltip="Answer a short survey"
         [matTooltipShowDelay]="500"
         [matTooltipHideDelay]="200"
         target="_blank"
         href="https://www.surveymonkey.com/r/7XVCYGL">Survey
      </a>
    </mat-card-actions>
  </ng-template>
  <mat-card-content #print_content>
    <div class="title"><h1>Question Sheet</h1></div>

    <div *ngIf="questions">
      <div *ngFor="let q of questions; let last = last">
        <div>
          <p><b>{{q.description}}</b></p>
          <div class="image" *ngIf="q.imageFilename">
            <img src="{{imageBasePath}}{{q.imageFilename}}" alt="Image">
          </div>
          <div class="report">
            <mat-checkbox matTooltip="Report inappropriate questions"
                          [matTooltipShowDelay]="500"
                          [matTooltipHideDelay]="200"
                          (change)="report(q.id, cb)" #cb>Report
            </mat-checkbox>
          </div>
        </div>

        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </div>
  </mat-card-content>
  <ng-container *ngTemplateOutlet="action"></ng-container>
</mat-card>
