
<table style="width: 100%;">
  <tr>
    <td>
      <h2 mat-dialog-title style="margin-bottom:0;">ADD QUESTION</h2>
    </td>
    <td>

      <button mat-button mat-dialog-close style="float: right;"><i class="material-icons" >close</i></button>
    </td>
  </tr>
</table>
<mat-dialog-content class="mat-typography">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="programFormGroup" class="mat-vertical-stepper-header">
      <ng-template matStepLabel>Select your program</ng-template>
      <form [formGroup]="programFormGroup" *ngIf="programs" >
        <mat-form-field class="formFieldWidth">
          <mat-select placeholder="Program" formControlName="program">
            <mat-option *ngFor="let p of programs.content" [value]="p.id">{{p.program}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!--<div>-->
          <!--<button mat-button matStepperNext (click)="selectProgram(programFormGroup.value)">Next</button>-->
        <!--</div>-->
        <div>
          <button mat-raised-button matStepperNext color="primary" (click)="selectProgram(programFormGroup.value)">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="courseFormGroup">
      <ng-template matStepLabel>Select your course</ng-template>
      <!--<form [formGroup]="courseFormGroup" *ngIf="courses && courses.content[0].content;else courseError">-->
        <form [formGroup]="courseFormGroup" *ngIf="courses">
        <mat-form-field class="formFieldWidth">
          <mat-select placeholder="Course" formControlName="course">
            <mat-option *ngFor="let c of courses.content" [value]="c.id">{{c.course}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="!isCourseExist">No Courses Found In the Selected Program</mat-error>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext color="primary" (click)="selectCourse(courseFormGroup.value)">Next</button>
        </div>
      </form>

      <!--<ng-template #courseError>-->
        <!--<mat-error>No Courses Found in the Selected Program</mat-error>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
      <!--</ng-template>-->
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Almost Done</ng-template>
      <!--<form [formGroup]="tagFormGroup" *ngIf="tags && tags.content[0].content && courses && courses.content[0].content;else tagError">-->
        <!--<mat-checkbox *ngFor="let t of tags.content" value="t.id" formControlName="tag" (change)="tagSelectChange($event, t)">{{t.tag}}</mat-checkbox>-->
      <form [formGroup]="tagFormGroup" *ngIf="isTagExist;else tagError">
        <mat-label>Selected Tags</mat-label>
        <mat-error *ngIf="!isTagSelected">Please Select Tags</mat-error>
        <div class="tagPool">
          <mat-chip-list [disabled]="true" *ngIf="selectedTags">
            <mat-chip [disabled]="true" *ngFor="let t of selectedTags" (removed)="remove(t)">
              {{ t.tag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-error *ngIf="error">Please select at least one tag</mat-error>

        <mat-label>Select Tag Below</mat-label>
        <div class="tagPool" *ngIf="tags">
          <mat-chip-list [disabled]="true" *ngIf="tags.length > 0">
            <mat-chip class="selectable" [disabled]="true" *ngFor="let t of tags" (click)="add(t)">{{ t.tag }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <br />
        <table style="width:100%;">
          <tr>
            <td style="width:10%;"><mat-label>Practical</mat-label></td>
            <td><mat-slider thumbLabel [displayWith]="formatLabel" min="0" max="3" step="1" formControlName="difficulty" style="width: 100%;"></mat-slider></td>
            <td style="width:10%;"><mat-label>Challenge</mat-label></td>
          </tr>
        </table>
        <mat-error *ngIf="!isDifficultySelected">Please Select the Difficulty</mat-error>

        <br />

        <mat-form-field class="formFieldWidth">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-error *ngIf="!isDescritpionEdited">Please Provide the Description</mat-error>
        <br/>
        <!--<input class="mat-raised-button" type="file"  (change)="onSelectFile($event)">-->
        <!--<br/>-->
        <!--<img [src]="imageUrl" height="200">-->

        <button class="mat-raised-button" (click)="fileInput.click()" style="width:100%;">UPLOAD IMAGE</button>
        <input hidden type="file" #fileInput (change)="onSelectFile($event)">
        <br/>
        <div *ngIf="imageUrl != ''">
          <img [src]="imageUrl" style="height: auto; width: auto; max-height: 100%;max-width: 100%;">
          <button mat-raised-button color="warn" (click)="removeImage()" style="width:100%;">REMOVE IMAGE</button>
        </div>
        <br/>
        <div>
          <table width="100%">
            <tr>
              <td>
                <button mat-button matStepperPrevious style="width:100%;">Back</button>
              </td>
              <td>
                <button type="submit" mat-raised-button color="primary" style="width:100%" (click)="insertQuestion()">Add</button>
              </td>
            </tr>
          </table>
        </div>
      </form>

      <ng-template #tagError>
          <mat-error>No Tags Found in this Course</mat-error>
          <button mat-button matStepperPrevious>Back</button>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
