<!--<table style="width: 100%;">-->
  <!--<tr>-->
    <!--<td>-->
      <!--<h2 mat-dialog-title style="margin-bottom:0;">UPDATE USER</h2>-->
    <!--</td>-->
    <!--<td>-->
      <!--<button mat-button mat-dialog-close style="float: right;"><i class="material-icons" >close</i></button>-->
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->

<!--<mat-dialog-content class="mat-typography">-->
  <!--<form (ngSubmit)="updateUser()" [formGroup]="updateForm">-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="First Name" formControlName="firstName">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Last Name" formControlName="lastName">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="User Name" formControlName="userName">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput type="email" placeholder="Email" formControlName="email">-->
    <!--</mat-form-field>-->

  <!--</form>-->
<!--</mat-dialog-content>-->
