<mat-card
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()">
  <mat-card-content>
    <div class="title"><h1>Log in</h1></div>

    <mat-error *ngIf="error">{{error}}</mat-error>

    <form [formGroup]="staffForm" (submit)="execute(captchaRef)">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput appAutofocus placeholder="Username" formControlName="username"/>
              <mat-error *ngIf="!staffForm.controls['username'].valid && staffForm.controls['username'].touched">
                Username is required
              </mat-error>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password"/>
              <mat-error *ngIf="!staffForm.controls['password'].valid && staffForm.controls['password'].touched">
                Password is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td class="recaptcha">
            <re-captcha #captchaRef="reCaptcha"
                        formControlName="recaptcha"
                        size="invisible"
                        (resolved)="login(captchaRef, staffForm.value)"></re-captcha>
          </td>
        </tr>

        <tr>
          <td>
            <button mat-button class="forget" type="button" (click)="forget()">Forget Password?</button>
          </td>
        </tr>

        <tr>
          <td>
            <button mat-raised-button color="primary" class="submit" type="submit">LOG IN</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
