<h2>History</h2>
<div class="historyList">
  <mat-table [dataSource]="historyDataSource" matSort>
    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>START</mat-header-cell>
      <mat-cell *matCellDef="let historyExamCram">{{historyExamCram.startTime | date:'MM/dd/yyyy h:mm:ss a'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>END</mat-header-cell>
      <mat-cell *matCellDef="let historyExamCram">{{historyExamCram.endTime | date:'MM/dd/yyyy h:mm:ss a'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="accessCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ACCESS CODE</mat-header-cell>
      <mat-cell *matCellDef="let historyExamCram">{{historyExamCram.accessCode}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
