<div *ngIf="presentExamCram;else no_examcram">
  <h2>
    Current Exam Cram
  </h2>
  <table style="width: 100%;">
    <tr>
      <td>
        Start Time: {{presentExamCram?.startTime | date:'MM/dd/yyyy h:mm:ss a'}}
      </td>
      <td>
        End Time:{{presentExamCram?.endTime | date:'MM/dd/yyyy h:mm:ss a'}}
      </td>
      <td>
        Access Code:{{presentExamCram?.accessCode}}
      </td>
    </tr>
  </table>
  <table style="width: 100%;">
    <tr>
      <td style="width: 95%;">
        <mat-progress-bar mode="determinate" [value]="getProgress()" style="height: 12px;" ></mat-progress-bar>
      </td>
      <td>
        <button mat-icon-button>
          <mat-icon id="{{presentExamCram.id}}" (click)="discardExamCram(presentExamCram.id)" >delete_forever</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>

<ng-template #no_examcram><h2>No Exam Cram Opening</h2></ng-template>
<h2>
  Add A New Exam Cram
</h2>
<br />

<form (ngSubmit)="insertExamCram()" [formGroup]="newExamForm">
  <table style="width: 100%;">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Start Date" formControlName="newStartDate" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="newStart">
          <owl-date-time #dt></owl-date-time>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="End Date" formControlName="newEndDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="newEnd">
          <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" maxlength="5" placeholder="Access Code" formControlName="newAccessCode" name="accessCode">
        </mat-form-field>
      </td>
      <td>
          <button type="submit" color="primary" mat-raised-button [disabled]="newExamForm.invalid">ADD</button>
      </td>
    </tr>
  </table>
  <mat-error *ngIf="invalid">{{errorMessage}}</mat-error>
</form>
<h2>Future</h2>
<div class="futureList">
  <mat-table [dataSource]="futureDataSource" matSort>
    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>START</mat-header-cell>
      <mat-cell *matCellDef="let futureExamCram">{{futureExamCram.startTime | date:'MM/dd/yyyy h:mm:ss a'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>END</mat-header-cell>
      <mat-cell *matCellDef="let futureExamCram">{{futureExamCram.endTime | date:'MM/dd/yyyy h:mm:ss a'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="accessCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ACCESS CODE</mat-header-cell>
      <mat-cell *matCellDef="let futureExamCram">{{futureExamCram.accessCode}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="discard">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let futureExamCram">
        <button mat-icon-button>
          <mat-icon id="{{futureExamCram.id}}" (click)="discardExamCram(futureExamCram.id)">delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>

