<h2 mat-dialog-title>INVITE USER</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="verifyForm">
    <mat-form-field style="width: 100%;">
      <input matInput appAutofocus placeholder="Enter Email" type="email" formControlName="email"/>
      <mat-error *ngIf="!verifyForm.controls['email'].valid && verifyForm.controls['email'].touched">
        Email is required
      </mat-error>
    </mat-form-field>

    <br/>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="invite()" [disabled]="verifyForm.invalid">Invite</button>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
