<div class="title"><h1>Settings</h1></div>

<mat-accordion>
  <mat-expansion-panel [expanded]="option === 0" (opened)="error = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Update Personal Info
      </mat-panel-title>
      <mat-panel-description>
        Change your first and last name
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-error *ngIf="error">Can't update info. Try again</mat-error>

    <form [formGroup]="updateInfoForm" (submit)="updateInfo(updateInfoForm.value)">
      <mat-form-field>
        <input matInput appFirstUpper placeholder="First Name" formControlName="firstName"/>
        <mat-error
          *ngIf="!updateInfoForm.controls['firstName'].valid && updateInfoForm.controls['firstName'].touched">
          First Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput appFirstUpper placeholder="Last Name" formControlName="lastName"/>
        <mat-error
          *ngIf="!updateInfoForm.controls['lastName'].valid && updateInfoForm.controls['lastName'].touched">
          Last Name is required
        </mat-error>
      </mat-form-field>

      <br/>

      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="option === 1" (opened)="error = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Change Password
      </mat-panel-title>
      <mat-panel-description>
        Update your password
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-error *ngIf="error">{{error}}</mat-error>

    <form [formGroup]="changePassForm" (submit)="changePassword(changePassForm.value)">
      <mat-form-field>
        <input matInput placeholder="Old Password" type="password" formControlName="oldPass">
        <mat-error
          *ngIf="!changePassForm.controls['oldPass'].valid && changePassForm.controls['oldPass'].touched">
          Old Password is required
        </mat-error>
      </mat-form-field>

      <br/>

      <mat-form-field>
        <input matInput placeholder="New Password" type="password" formControlName="newPass">
        <mat-error
          *ngIf="!changePassForm.controls['newPass'].valid && changePassForm.controls['newPass'].touched">
          New Password is required
        </mat-error>
      </mat-form-field>

      <br/>

      <mat-form-field>
        <input matInput placeholder="Re-enter New Password" type="password" formControlName="reNewPass">
        <mat-error
          *ngIf="!changePassForm.controls['reNewPass'].valid && changePassForm.controls['reNewPass'].touched">
          Two Password Not Match
        </mat-error>
      </mat-form-field>

      <br/>

      <button mat-raised-button color="primary" type="submit">Change</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
