<div class="selector">
  <form>
    <mat-form-field *ngIf="from">
      <input matInput placeholder="From"
             name="from"
             [(ngModel)]="from"
             [owlDateTimeTrigger]="dt1"
             [owlDateTime]="dt1">
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </mat-form-field>

    <mat-form-field *ngIf="to">
      <input matInput placeholder="To"
             name="to"
             [(ngModel)]="to"
             [owlDateTimeTrigger]="dt2"
             [owlDateTime]="dt2">
      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
  </form>
</div>

<mat-divider></mat-divider>

<div>
  <div style="display: block;" *ngIf="lineChartLabels.length > 0">
    <canvas baseChart #lineChart="base-chart"
            width="500" height="200"
            [chartType]="'line'"
            [legend]="false"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [options]="lineChartOptions"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>

<div *ngIf="showPie">
  <mat-divider></mat-divider>
  <div style="display: block">
    <canvas baseChart #pieChart="base-chart"
            width="500" height="200"
            [chartType]="'pie'"
            [legend]="true"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [colors]="pieChartColors"
            [options]="pieChartOptions"></canvas>
  </div>
</div>
