<div>
  <button mat-raised-button (click)="openDialog()"> ADD </button>
  <!--<button mat-raised-button (click)="openDisableQuestionDialog()"> DISABLE </button>-->
  <!--<button mat-raised-button (click)="openEnableQuestionDialog()">ENABLE</button>-->
</div>

<div>
  <mat-form-field class="tableFilter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <!--<ng-container matColumnDef="select">-->
      <!--<mat-header-cell *matHeaderCellDef>-->
        <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
                      <!--[checked]="selection.hasValue() && isAllSelected()"-->
                      <!--[indeterminate]="selection.hasValue() && !isAllSelected()">-->
        <!--</mat-checkbox>-->

        <!--<mat-cell *matCellDef="let row">-->
          <!--<mat-checkbox (click)="$event.stopPropagation()"-->
                        <!--(change)="$event ? selection.toggle(row) : null"-->
                        <!--[checked]="selection.isSelected(row)">-->
          <!--</mat-checkbox>-->
        <!--</mat-cell>-->
      <!--</mat-header-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let question" style="padding-left: 0px;padding-right: 24px;">
        <!--<span (click)="openUpdateQuestionDialog($event)" id="{{question.id}}" style="margin:0;">{{question.id}}</span>-->
        <button mat-button (click)="openUpdateQuestionDialog(question.id)" id="{{question.id}}" style="margin:0;">{{question.id}}</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="courses">
      <mat-header-cell *matHeaderCellDef mat-sort-header>COURSES</mat-header-cell>
      <mat-cell *matCellDef="let question">
        <ul *ngFor="let nestCourse of question.courses">
          <li>{{nestCourse.course}}</li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TAGS</mat-header-cell>
      <mat-cell *matCellDef="let question">
        <ul>
          <li *ngFor="let nestTag of question.tags">
            {{nestTag.tag}}
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</mat-header-cell>
      <mat-cell *matCellDef="let question">{{question.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="difficulty">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DIFFICULTY</mat-header-cell>
      <mat-cell *matCellDef="let question"><span>{{question.difficulty}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="available">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AVALIABLE</mat-header-cell>
      <mat-cell *matCellDef="let question">
        <mat-slide-toggle  [checked]="question.available" [id]="question.id"  (change)="checkToogle(question.id,$event)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"  (click)="selection.toggle(row)"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
