<app-managecomponent></app-managecomponent>
<!--<div class="futureList">-->
  <!--<mat-table [dataSource]="futureDataSource" matSort>-->
    <!--<ng-container matColumnDef="startTime">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Start</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let futureExamCram">{{futureExamCram.startTime}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="endTime">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>End</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let futureExamCram">{{futureExamCram.endTime}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="accessCode">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Access Code</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let futureExamCram">{{futureExamCram.accessCode}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->

<br/>

<!--<div class="historyList">-->
  <!--<mat-table [dataSource]="historyDataSource" matSort>-->
    <!--<ng-container matColumnDef="startTime">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Start</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let historyExamCram">{{historyExamCram.startTime}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="endTime">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>End</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let historyExamCram">{{historyExamCram.endTime}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="accessCode">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Access Code</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let historyExamCram">{{historyExamCram.accessCode}}</mat-cell>-->
    <!--</ng-container>-->
    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->

<app-historycomponent></app-historycomponent>
