<div>
  <button mat-raised-button (click)="openInviteDialog()"> Invite </button>
</div>

<div>

  <mat-form-field class="tableFilter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>USERNAME</mat-header-cell>
      <mat-cell *matCellDef="let user"><span (click)="openUpdateDialog($event)" id="{{user.id}}" style="margin:0;" >{{user.username}}</span> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>FIRSTNAME</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>LASTNAME</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ROLES</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.roles.role}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="enabled">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ENABLED</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <mat-slide-toggle [checked]="user.enabled" [id]="user.id" (change)="checkToogle(user.id,$event)"></mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
</div>
