@import '~@angular/material/theming';
@import '~src/theme.scss';

.ribbon {
  width: 100%;
  height: 30vh;

  background-color: mat-color($primary);
  box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, .2),
  inset 0 6px 10px 0 rgba(0, 0, 0, .14),
  inset 0 1px 18px 0 rgba(0, 0, 0, .12),
  0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}

mat-card {
  display: block;

  width: 450px;
  min-width: 200px;
  margin: -10vh auto 10vh;
}

mat-card-content {
  text-align: center;
}

mat-form-field {
  width: 80%;
}

.title {
  width: 100%;
  padding: 15px 0;

  text-align: center;
}

.submit {
  width: 80%;
  margin-top: 15px;
}

.forget {
  float: right;

  margin: 0 10%;
}

table {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  min-height: calc(100vh - 10vh - 120px);
}
