<div class="wrapper">
  <app-header [navLinks]="navLinks"></app-header>
  <nav mat-tab-nav-bar backgroundColor="primary" color="accent">
    <a mat-tab-link *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">{{link.label}}</a>
  </nav>
</div>
<mat-card ngClass="mat-elevation-z6">
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
