mat-card {
  min-height: 100vh;
  margin: 40px 2vw;
  padding: 20px;
}

.wrapper {
  box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}

@media only screen and (max-width: 1279px) {
  nav {
    display: none;
  }

  .wrapper {
    box-shadow: none;
  }
}
